.total-price {
    color: red; 
}

.ticket-count {
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #007bff;
    padding: 5px;
}
  
.ticket-count:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(1, 103, 212, 0.5);
}
  
  /* Відключення стрілочок (для Chrome/Safari) */
.ticket-count::-webkit-inner-spin-button,
.ticket-count::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.book-ticket {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.book-ticket:hover {
    background-color: #0056b3;
}

.book-ticket:active {
    background-color: #0056b3;
}

.book-ticket.booked {
    background-color: #6c757d;  
    color: white;  
    cursor: not-allowed;
}

